@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    
    /* NB ALLA FINE AGGIUNGI QUI BACKGROUND COLOR BLACK */
}

@media screen and (max-width: 576px){
    .nav-left {
        width: 100%;
        justify-content: space-between;
    }
    
    .nav-item .dropdown.nav-link:hover + .dropdown-menu {
            right: 0;
            left: auto;
    }

    .nav-right .nav-item:hover .dropdown-menu {
            display: none;
    }

    .selector {
        width: 100%;
        justify-content: space-between;
    }
}

/* HEADER */
header {
    background-color: black;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
}

nav {
    width: 100%;
    margin-bottom: .6em;
}

.nav-item.dropdown {
    display: flex;
}

.nav-list {
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-list li {
    padding-right: 1em;
    opacity: .8;
    transition: opacity .5s;
    cursor: pointer;
}

.nav-list li:hover {
    opacity: .5;
}

.nav-left {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.nav-item a {
    text-align: left;
    padding-left: 0;
}

.icon {
    height: 50px;
    padding: 1em;
}

.dropdown {
    font-size: 19px;
    padding-left: 1em;
}

.dropdown-toggle::after {
    vertical-align: 0.15em;
    font-size: 21px;
    transition: transform .3s;
}

.nav-item.dropdown:hover .dropdown-toggle::after {
    transform: rotate(180deg);
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-right p {
    margin-bottom: 0;
    margin-right: 1em;
}

#search-icon img {
    height: 40px;
}

.nav-right img {
    margin-right: .5em;
}

 .nav-right .user-img {
    height: 35px;
    width: 35px;
 }    

 .caret {
    transition: transform .3s;
 }


 .nav-item.dropdown:hover .caret {
    transform: rotate(180deg)
 }


.nav-item:hover .dropdown-menu {
    display: block;
}

.nav-right .nav-item:hover .dropdown-menu {
    right: 0;
    left: auto;
}

#user {
    display: flex;
    padding: 1em;
    align-items: center;
}

#user img {
    margin-left: .5em;
}

#user .data p {
    margin-bottom: 0;
    padding-left: .7em;
    padding-right: .7em;
}

.icon-p {
    display: flex;
    align-items: center; 
    padding-left: 1.5em;  
}

.icon-p p {
    padding-left: .8em;
    margin: 0;
}

/* MAIN */

main {
    width: 100%;
    background-color: black;
    color: white;
}

/* TOPBAR */

#topbar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    margin-bottom: 1em;
}

.selector {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.selector h1 {
    padding-right: 1em;
}

.selector a {
    color: white;
    font-weight: 500;
}

.selector select {
    padding: .3em;
}

.dropdown-menu {
    --bs-dropdown-link-color: none;
    background-color: black;
    color: white;
    border: 3px solid white;
    cursor: pointer;
    padding: 0;
}

 ul li {
    padding: 0;
    background-color: black;
}

.nav-item ul:hover {
    background-color: white;
    color: black;
}

 ul li {
    color: white;
    
}

.genres {
    padding: 0;
    border: 1px solid white;
    
}

.icon-view {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icon-view svg {
    padding: .6em;
    border: 1px solid white;
    cursor: pointer;
}

/* CAROUSEL */

#carousel-container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2em;
}

#carousel-container h2 {
    margin-bottom: .7em;
}

.carousel-inner .carousel-item {
    display: flex;
    
}

.carousel-item > div {
    padding-right: .5em;
}

.carousel-item img {
    transition: linear .3s;
}

.carousel-inner {
    
    padding: 2em;
}

.carousel-item img:hover {
    transform: scale(1.1);
    border-radius: 10px;
    border: 1px solid white;
    /* overflow: scroll; */
}

.carousel-control-prev {
    left: -7%;
    top: 20%;
}

.carousel-control-prev-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.carousel-control-next {
    right: -7%;
    top: 20%;
}

.carousel-control-next-icon {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    
}



/* FOOTER */

footer {
    background-color: black;
    height: 100vh;
    padding-left: 20%;
    padding-right: 20%;
}

footer ul li {
    list-style: none;
    color: #808080;
    padding-bottom: 1.5em;
    font-size: 13px;
}


.top-footer {
    margin: 1em 0 1em 0;
    width: 100%;
}

.top-footer svg {
    fill: #808080;
    height: 30px;
    width: 30px;
    margin-right: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 766px) {
    footer {
        text-align: center;
    }
    .top-footer {
        display: flex;
        justify-content: center;
    } 
    
    
}

.btn-service button {
    background-color: transparent;
    color: #808080;
    border: 1px solid #808080;
    font-size: 13px;
    padding: .5em;
    margin-bottom: 1em;
    transition: linear .5s;
}

.btn-service button:hover {
    background-color: white;
    color: black;
}

.net-data p {
    color: #808080;
    font-size: 13px;
    padding: .5em;
}


